body {
    display: flex;
    flex-direction: row;
}

@font-face {
    font-family: lucymar-sans;
    src: url(perun/Perun-Bold.otf);
}

.left-container {
    position: relative;
}

.logo {
    position: relative;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.opaque-box {
    position: relative; 
    background-color: rgb(0 51 0 / .5);
    width: 550px;
    height: 100px;
}

#puppets {
    position: absolute; 
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: lucymar-sans, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: white; 
    font-size: 3.5rem;
}

#photo-author {
    position: absolute; 
    bottom: 10%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: white;
    font-family: lucymar-sans, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:link, 
a:visited {
    color: white;
}

a:hover, 
a:active {
    color: rgb(red, rgb(25, 137, 25), blue)
}

.right-container {
    display: flex;
    justify-content: center;
}

.description {
    margin: 10px 50px 90px 50px;
    font-family: lucymar-sans, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(16, 62, 16);
}

